.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home img {
  height: 300px;
  width: 400px;
  margin: 0 auto;
}
.home a {
  text-decoration: none;
  color: white;
  background: olivedrab;
  padding: .5rem;
  border-radius: 15px;
  letter-spacing: 1px;
}
.home a:hover {
  opacity: .9;
}